<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Index</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>

	<head>
        <title>{{ author }}'s app</title>
    </head>

    <body>
       <h2>Enter a valid stock ticker symbol (eg: FB) then select the desire price type.</h2>
    </body>

	<form action="/StockData" method="post">
      <input type="text" name="Ticker Symbol"></input>
      <br></br>
      <input type="radio" name="Price" value="1">Open</input>
      <br></br>
 	  <input type="radio" name="Price" value="2">High</input>
 	  <br></br>
      <input type="radio" name="Price" value="3">Low</input>
      <br></br>
      <input type="radio" name="Price" value="4">Close</input>
      <br></br>
      <input type="submit" value="Submit"></input>
    </form>
<!-- 	<head>
        <title>{{ author }}'s app</title>
    </head>

    <body>
       <h2>Hello {{ name }}!</h2>
    </body> -->
	<!-- <body>
		<div>
  			<h1>Hello, World!</h1>
		</div>
	</body> -->
</html>
